<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834243325123-ibchav3gr8211d5k161o5d9ull7ngmsc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834243325123-ibchav3gr8211d5k161o5d9ull7ngmsc</string>
	<key>API_KEY</key>
	<string>AIzaSyAwb3JY6WMcAYxVWpr2GDKCOCuqWs_2kzc</string>
	<key>GCM_SENDER_ID</key>
	<string>834243325123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chogm2022.RW</string>
	<key>PROJECT_ID</key>
	<string>chogm2022-351717</string>
	<key>STORAGE_BUCKET</key>
	<string>chogm2022-351717.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834243325123:ios:460164f00c9e4323a58676</string>
</dict>
</plist>